:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--slate-300);
}

.card {
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 499px;
  width: 320px;
  background-color: white;
  padding: 16px 16px 0 16px;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgb(0 0 0 0.2);
}

.card-textbox {
  padding: 0 16px;
}

.card-title {
  font-weight: 700;
  color: var(--slate-900);
  margin-bottom: 16px;
}

.card-paragraph {
  font-weight: 400;
  color: var(--slate-500);
}

.qr-code {
  width: 100%;
  border-radius: 10px;
}

.attribution {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
